<config injector="$location,$rootScope"
></config>
<script type="text/javascript">
  export default function(location,rootScope){
    let commands = [], waitings = [],index = -1;
    function extend(a, b){
      for(var i in b){
        a[i] = b[i]
      }
      return a;
    }
    function clone(obj){
      return JSON.parse(JSON.stringify(obj));
    }
    return {
      dirty : false,
      add(name, arr){
        waitings = [];
        index = commands.push([name, arr]) - 1;
      },
      append(parentlist, item){
        let cmd = [
          () => {
            this.dirty = true;
            parentlist.push(item);
          },
          () => {
            this.dirty = true;
            parentlist.pop();
          }
        ];
        cmd[0]();
        return cmd;
      },
      insert(parentlist, item, num){
        let cmd = [
          () => {
            this.dirty = true;
            parentlist.splice(num, 0, item);
          },
          () => {
            this.dirty = true;
            parentlist.splice(num, 1);
          }
        ];
        cmd[0]();
        return cmd;
      },
      remove(parentlist, num){
        let item, cmd = [
          () => {
            this.dirty = true;
            item = parentlist.splice(num, 1);
          },
          () => {
            this.dirty = true;
            parentlist.splice(num, 0, item[0]);
          }
        ];
        cmd[0]();
        return cmd;
      },
      update(scope, target, newobj, fn){
        let item, cmd = [
          () => {
            this.dirty = true;
            item = clone(fn(scope[target]));
            extend(fn(scope[target]), newobj);
            scope[target] = clone(scope[target]);
          },
          () => {
            this.dirty = true;
            fn(scope[target], item);
            scope[target] = clone(scope[target]);
            console.dir(scope[target]);
          }
        ];
        cmd[0]();
        this.dirty = true;
        return cmd;
      },
      update2(scope, target, newobj, oldobj, fn){
        let item, cmd = [
          () => {
            fn(scope, target, newobj)
          },
          () => {
            fn(scope, target, oldobj)
          }
        ];
        cmd[0]();
        this.dirty = true;
        return cmd;
      },
      moveTo(i){
        if(index > i){
          while(index > i){
            this.back();
          }
        } else {
          while(index < i){
            this.forward();
          }
        }
      },
      forward(){
        if(waitings.length > 0){
          index++;
          let cmd = waitings.shift();
          commands.push(cmd);
          for(var i = 0; i < cmd[1].length; i++){
            cmd[1][i][0]();
          }
        }
      },
      back(){
        if(commands.length > 0){
          index--;
          let cmd = commands.pop();
          waitings.unshift(cmd);
          for(var i = cmd[1].length - 1; i >= 0; i--){
            cmd[1][i][1]();
          }
        }
      },
      allCommands(){
        return commands.concat(waitings);
      },
      commands(){
        return commands;
      },
      waitings(){
        return waitings;
      }
    };
  }
</script>